/*index.html*/
body {
  font-family: PT Sans;
}

#logo {
  height: 100px;
  margin-left: 30px;
  margin-top: 0px;
  position: relative;
}

#jiggly {
  height: 850px;
  width: 100%;
  position: absolute;
}

header {
  position: relative;
  height: 850px;
  width: 100%;
}

header nav {
  width: 40%;
  position: absolute;
  left: 32%;
  margin-top: 30px;
  z-index: 2;
}

header ul {
  align-items: center;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: #000;
}

header li a:hover {
  color: white;
}

.header-actions {
  position: absolute;
  margin-top: 32px;
  right: 10px;
  display: flex;
  align-items: center;
  z-index: 2;
}

.login-button {
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  font: inherit;
  width: 40px;
  margin-right: 20px;
}

.cart-icon {
  width: 40px;
  height: auto;
  margin-right: 25px;
  cursor: pointer;
}

header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 64px;
  font-family: "Work Sans";
  text-shadow: black 0.1em 0.1em 0.2em;
  z-index: 2;
  cursor: default;
}

.container {
  background-color: rgb(217, 217, 217, 41%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.rectangle {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
}

.dropdown {
  margin-right: 10px;
}

.dropdown-menu {
  background-color: rgb(217, 217, 217);
  text-align: center;
  width: 550px;
  height: auto;
  size: 100px;
  border-radius: 20px;
  z-index: 4;
}

.navbar {
  width: 1000px;
  height: 100px;
  padding: 10px;
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: PT Sans;
}

form.d-flex {
  margin-left: auto;
}

.btn-warning {
  border-radius: 50px;
  height: 50px;
  width: 300px;
  background-color: #ff8551;
  border: none;
  color: #fff;
  box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
  font-family: PT Sans;
}

.nav-item {
  border-radius: 50px;
  height: 50px;
  width: 550px;
  background-color: rgb(217, 217, 217, 41%);
  text-align: center;
  box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
}

.greyCont {
  margin: 0;
  height: 400px;
  background-color: rgb(217, 217, 217, 41%);
  padding: 0%;
  width: 100%;
}

.greyCont h2 {
  padding-left: 500px;
  padding-top: 120px;
  color: #ff8551;
  font-family: "Work Sans";
  text-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.gallery {
  display: flex;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: auto;
}

.gallery-item {
  flex: 0 0 calc(25% - 20px);
  padding: 30px;
  text-align: center;
  background-color: #d9d9d9;
  margin: 10px;
  transition: transform 0.5s ease-in-out;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border-radius: 20px;
}

.gallery-item h3 {
  font-family: "Work Sans";
  text-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.gallery-item:hover {
  background-color: rgb(255, 255, 255);
}

.gallery-item img {
  margin: 0 auto;
  width: 50px;
  height: 50px;
}

.read-more {
  position: relative;
  margin-top: auto;
  color: #a1a1a1;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.gallery-item .read-more:hover {
  color: #ff8551;
}

.container3 {
  margin-top: 300px;
  position: relative;
}

.container3 h2 {
  color: #ff8551;
  margin-left: 1550px;
  margin-top: 50px;
  font-family: "Work Sans";
  text-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}
.container3 p {
  position: relative;
  margin-left: 1100px;
  padding: 40px;
  margin-top: 10px;
  background-color: #ff8551;
  border-radius: 200px;
  color: white;
  z-index: 3;
  box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
}

#grupo {
  position: relative;
  width: 1100px;
  border-radius: 350px;
  z-index: 2;
  margin-left: 500px;
  box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
}

#indiv {
  position: relative;
  width: 1050px;
  border-radius: 350px;
  margin-left: 250px;
  margin-top: -200px;
  box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
}

.orangeRec {
  position: absolute;
  width: 1000px;
  height: 800px;
  background-color: #ff8551;
  margin-top: 200px;
  box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
}

.greyCont2 {
  position: absolute;
  height: 1000px;
  width: 100%;
  background-color: rgb(217, 217, 217, 41%);
  margin-top: -350px;
  z-index: -1;
}

.container4 h2 {
  position: relative;
  color: #ff8551;
  margin-left: 450px;
  margin-top: 500px;
  font-family: "Work Sans";
  text-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.container4 p {
  margin-left: 700px;
  margin-right: 200px;
  padding: 40px;
  margin-top: 10px;
  background-color: #ff8551;
  border-radius: 200px;
  color: white;
  z-index: 3;
  box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
}

.container4 img {
  position: relative;
  width: 1100px;
  border-radius: 350px;
  z-index: 2;
  margin-left: 200px;
  box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
}

.FAQ {
  background-color: #ff8551;
  margin-top: 900px;
  padding-top: 20px;
  height: 800px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.FAQ h2 {
  padding-top: 350px;
  margin-left: 200px;
  font-family: "Work Sans";
  text-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  background-color: transparent;
  border: none;
  margin-left: 1000px;
  font-family: PT Sans;
}

.btn-primary:hover {
  background-color: transparent;
}
.btn-primary:focus {
  background-color: transparent !important;
  border-color: transparent !important;
}

.card {
  background-color: #ff8551;
  text-align: center;
  color: white;
  border: none;
  font-family: PT Sans;
}

.questions {
  margin-top: -350px;
}

.d-inline-flex {
  margin-top: 50px;
}

.testimonios-full {
  background-color: rgb(217, 217, 217, 41%);
  position: relative;
  padding-top: 20px;
  margin-bottom: 200px;
  padding-bottom: 250px;
}

.testimonios h2 {
  margin-top: 180px;
  margin-left: 45%;
  color: #ff8551;
  font-family: "Work Sans";
  text-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.galeria-testimonios {
  display: flex;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: auto;
}

.item-testimonios {
  position: relative;
  height: 450px;
  flex: 0 0 calc(33.33% - 20px);
  padding: 30px;
  text-align: center;
  background-color: #d9d9d9;
  margin: 10px;
  transition: transform 0.5s ease-in-out;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border-radius: 20px;
  font-family: PT Sans;
}

.item-testimonios:hover {
  color: #ff8551;
  background-color: rgb(217, 217, 217, 41%);
}

.item-testimonios img {
  height: 100px;
  width: 100px;
  border-radius: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 30px;
  margin-left: 80px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.item-testimonios h4 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 30px;
  margin-left: 200px;
}

footer {
  background-color: #ff8551;
  color: #fff;
  margin-top: -200px;
  padding-top: 30px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.column {
  flex: 1;
  padding: 0 20px;
  transition: background-color 0.3s ease;
}

.column h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: "Work Sans";
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}

ul li:hover {
  color: #000;
  cursor: pointer;
}

footer p {
  padding: 0%;
  margin: auto;
  margin-left: 800px;
  font-size: smaller;
}

/*pokemon.html*/

#bulbasaur{
  width: 100%;
  position: absolute;
  margin-bottom: 500px;
}

.footer-tienda{
    margin-top: 200px;
}

/*descripcion.html*/
#pichu{
    position: absolute;
}

/*checkout.html*/
#emolga{
    width: 100%;
    height: 1024px;
    position: absolute;
}


